################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/Algorithm/bin/Debug
/Algorithm/obj/Debug
/BookTest/bin/Debug
/BookTest/obj/Debug
/EqualAndHash/bin/Debug
/EqualAndHash/obj/Debug
/LeetCode/bin/Debug
/LeetCode/obj/Debug
/packages
/Pritice/bin/Debug
/Pritice/obj/Debug
/WebAlgorihm/bin
/WebAlgorihm/obj/Debug
